:root {
  --bg-primary: #322D50;
  --bg-secondary: rgba(8, 6, 46, 0.2);
  --font-primary: #C4C3D8;

  --primary-font-family: 'Handlee', cursive;
  --secondary-font-family: 'Comic Neue', cursive;

  --max-width: 1120px;
  --min-width: 400px;
  --inline-padding: 2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

/* \* {
  outline: 1px solid red;
} */

* {
  box-sizing: border-box;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("assets/noise.png");
  background-size: 64px;
  background-repeat: repeat;
  mix-blend-mode: overlay;
  /* try soft-light too */
  opacity: 0.25;
  pointer-events: none;
  z-index: -1;
}

body {
  background: var(--bg-primary);
  color: var(--font-primary);
  font-family: var(--primary-font-family);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--primary-font-family);
  color: var(--font-primary);
  margin: 0;
}

a,
img {
  display: block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.glass_bg {
  /* backdrop-filter: blur(10px) saturate(100%);
  -webkit-backdrop-filter: blur(10px) saturate(100%); */
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.05);
  background-color: var(--bg-secondary);
  border: 1px solid rgba(209, 213, 219, 0.2);
}


.section {
  padding: 32px var(--inline-padding);
  width: clamp(var(--min-width), 100%, var(--max-width));
  align-self: center;
}

.root_container {
  display: flex;
  flex-direction: column;
  flex: 1;
}